html,body{
  
    background-color: forestgreen;
  }
  
  #wrapper1 {
    height: 28rem;
    border-style: solid;
    border-width: 0.1rem;
    border-color: rgb(236, 232, 232);
    background-color: #f2f2f2;
    border-radius: 10px;
    min-width: 15rem;
    max-width: 33rem;
  
    // Media query for tablet and mobile devices
    @media (max-width: 768px) { // 768px is commonly used for tablets, adjust as needed
      max-width: 30rem;
    }
  
    @media (max-width: 576px) { // 576px is commonly used for mobiles, adjust as needed
      max-width: 30rem;
    }
  }
  
  
  #wrapper2{

    width: 15rem;

    position: relative;

    border-style: solid;
    border-width: .1rem;
    border-color: rgb(236, 232, 232);
    background-color: #f2f2f2;

    border-radius: 10px;

    overflow: scroll;

    #btPrint1{
      position: absolute;
      top: 0;
      right: 3.5rem;
      // hover 
  
      i{

        &:hover{
          color:rgb(22, 22, 23);
        }
      }

    }

    #btPrint2{
      position: absolute;
      top: 0;
      right: .5rem;
      // hover 
  
      i{

        &:hover{
          color:rgb(22, 22, 23);
          
        }
      }

    }
  }

  #miscTable{


    overflow:scroll;

    max-height: 25rem;

  

  }

  .description-cell {
    max-height: 5rem;

    overflow: auto;
  }
  

  
  #wrapper3{
      width: 15rem;
      height: 22rem;
    border-style: solid;
    border-width: .1rem;
    border-color: rgb(236, 232, 232);
    background-color: #f2f2f2;
      
  }
  
  #wrapper4{
      width: 15rem;
      height: 13rem;
    border-style: solid;
    border-width: .1rem;
    border-color: rgb(236, 232, 232);
    background-color: #f2f2f2;
      
  }
  
  #logo{
      width: 5rem;
      margin-bottom: 1rem;
  }
  
  
  .btn-primary{
      width: 100%;
      background-color:#b8a66a;


  }
  .btn-primary:hover{
  
      background-color:#735800;
  }

  #btAddExpense{
    background-color: #6c6b67;
  }
  
  
  .form-control{
      width: 100%;
      border-color: gainsboro;
  
  }
  
  .form-control:focus {
      outline: none !important;
      box-shadow: none !important;
  
    }
  .form-select:focus {
      outline: none !important;
      box-shadow: none !important;
  
    }
  
    .col-12 .row .col-6{
      color: blue;
     
    }
  
    #wrapper-col-6 a{
      text-decoration: none;
  
    }
  
    #wrapper-col-6 a:hover{
      text-decoration: underline;
      font-weight: bold;
  
    }
  
  
  
  
    .spinner-container {
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.5);
      z-index: 9999;
      flex-direction: column;
    }
    
    .spinner-border {
      color: #fff;
      margin-bottom: 10px; /* optional: adds a bit of space between the spinner and the text */
    }
    
    .loading-text {
      color: #fff;
      font-size: 16px;
    }
  
    i{
      color:lightgreen;
    }
  
    option{
      font-weight: bold;
    }
  
  
    .scrollable-cell {
      max-width: 10rem;
      max-height: 10rem;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      position: relative; /* For tooltip */
    }
    
    .tooltip {
      visibility: hidden;
      position: absolute;
      bottom: 100%;
      left: 50%;
      transform: translateX(-50%);
      background-color: #555;
      color: #fff;
      text-align: center;
      padding: 5px;
      border-radius: 3px;
      z-index: 1;
      opacity: 0;
      transition: opacity 0.3s;
    }
    
    .scrollable-cell:hover .tooltip {
      visibility: visible;
      opacity: 1;
    }
    
    
    .myDeletebutton{
      z-index: 10;
    }



    .dropdown {
   
      
      .btn {
        position: absolute;
        top: -2rem;
        right: 0;
        z-index: 999; // Make sure it's above other elements

        color: white; // Text color
        border-radius: 4px; // Rounded corners

        font-size: 16px; // Font size
        transition: background-color 0.3s ease; // Smooth transition for hover effect
        
    
      }
    
      .dropdown-menu {
        border-radius: 4px; // Rounded corners
        box-shadow: 0 2px 10px rgba(0,0,0,0.2); // Box shadow for a lifting effect
        margin-top: 8px; // Add a little space between button and menu
    
        li {
          a {
            color: #333; // Text color
            padding: 10px 20px; // Padding
            transition: background-color 0.3s ease; // Smooth transition for hover effect
            
            &:hover {
              background-color: #f1f1f1; // Hover background color
            }
          }
        }
      }
    }
    